body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 18px 56px;
    background-color: #1F2937;
    color: white;
}

.header-menu {
    display: flex;
    gap: 18px;
}